.addBookForm {
    background-color: rgba(33, 146, 191, 0.339);
    border-radius: 5px;
    border: 3px solid rgb(18, 77, 101);
    padding: 10px;
}

.addBookForm h3 {
    margin: 0 0 10px 0;
    color: rgb(12, 51, 67);
}

.form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form label {
    color: rgb(12, 51, 67);
    font-weight: 800;
}

.form input {
    height: 20px;
    border: 1px solid rgb(18, 77, 101);
    border-radius: 3px;
}

.form button {
    background-color: rgb(33, 146, 191);
    padding: 5px;
    color: white;
    border-radius: 5px;
    border-color: rgb(18, 77, 101);
    width: 90px;
    height: 30px;
}
